@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
#video1-8 SMALL {
  color: #000000;
}
#menu-23 .mbr-brand__name {
  font-size: 16px;
}
#menu-23.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-23 .mbr-navbar__section {
  background: #ffffff;
}
#footer1-20 P {
  color: #000000;
}
#menu-17 .mbr-brand__name {
  font-size: 16px;
}
#menu-17.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-17 .mbr-navbar__section {
  background: #ffffff;
}
#header1-18 H1 {
  color: #000000;
  font-size: 11px;
}
#footer1-20 P {
  color: #000000;
}
#menu-20 .mbr-brand__name {
  font-size: 16px;
}
#menu-20.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-20 .mbr-navbar__section {
  background: #ffffff;
}
#header1-21 H1 {
  color: #000000;
  font-size: 11px;
}
#footer1-20 P {
  color: #000000;
}
#menu-23 .mbr-brand__name {
  font-size: 16px;
}
#menu-23.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-23 .mbr-navbar__section {
  background: #ffffff;
}
#video1-26 SMALL {
  color: #000000;
}
#footer1-20 P {
  color: #000000;
}




#menu-15 .mbr-brand__name {
  font-size: 16px;
}
#menu-15.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-15 .mbr-navbar__section {
  background: #ffffff;
}
#header1-16 I {
  font-size: 15px;
  font-family: 'Slabo 27px', serif;
  color: #000000;
}
#header1-16 .btn {
  font-family: 'Slabo 27px', serif;
}
#header1-16 SPAN {
  font-size: 11px;
  color: #fafd00;
}
#header1-16 P {
  font-family: 'Slabo 27px', serif;
  color: #000000;
  font-size: 15px;
}
#header1-16 H1 {
  color: #fafd00;
  font-size: 20px;
  font-family: 'Slabo 27px', serif;
}
#footer1-20 P {
  color: #000000;
}

#menu-19 .mbr-brand__name {
  font-size: 16px;
}
#menu-19.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-19 .mbr-navbar__section {
  background: #ffffff;
}
#video1-20 SMALL {
  color: #000000;
  font-family: 'Slabo 27px', serif;
}
#footer1-20 P {
  color: #000000;
}




#menu-21 .mbr-brand__name {
  font-size: 16px;
}
#menu-21.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-21 .mbr-navbar__section {
  background: #ffffff;
}
#header1-22 I {
  font-size: 15px;
  font-family: 'Slabo 27px', serif;
  color: #000000;
}
#header1-22 .btn {
  font-family: 'Slabo 27px', serif;
}
#header1-22 SPAN {
  font-size: 11px;
  color: #fafd00;
}
#header1-22 P {
  font-family: 'Slabo 27px', serif;
  color: #000000;
  font-size: 15px;
}
#header1-22 H1 {
  color: #fafd00;
  font-size: 25px;
  font-family: 'Slabo 27px', serif;
}
#footer1-20 P {
  color: #000000;
}



#header4-3 P {
  color: #fcff00;
  font-size: 11px;
  font-family: 'Slabo 27px', serif;
}
#header4-3 H1 {
  font-family: 'Slabo 27px', serif;
  color: #000000;
}
#header4-3 .btn {
  font-family: 'Slabo 27px', serif;
}
